*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 3px red solid; */
}

:root {
  --clr-primary: hsl(192, 37%, 48%);
  --clr-secondary: hsl(268, 34%, 53%);
  --clr-heading-text: hsl(240, 21%, 20%);
  --clr-paragraph-text: hsl(240, 10%, 57%);

  --clr-primary-accent: hsl(192, 90%, 77%);
  --clr-secondary-accent: hsl(268, 100%, 86%);
  --clr-neutral-text: hsl(0, 0%, 98%);

  --ff-primary: "Red Hat Display", sans-serif;
}

body {
  /* margin: 0 24px 0; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*TEXT*/

h1,
h2,
p {
  font-family: var(--ff-primary);
  text-align: center;
}

h1,
h2 {
  color: var(--clr-heading-text);
  font-weight: 900;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1em;
}

p {
  color: var(--clr-paragraph-text);
  line-height: 1.625em;
  font-weight: 500;
}

header {
  margin: 48px 0 54px;
}

.landing-page div {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page img {
  height: auto;
  width: 199px;
  margin-bottom: 48px;
}

.landing-page img:first-of-type {
  margin-left: -20px;
  margin-right: 8px;
}

.landing-page img:last-of-type {
  margin-right: -28px;
  margin-left: 8px;
}

.landing-page h1 {
  margin-bottom: 24px;
  width: 10ch;
}

.landing-page p {
  margin-bottom: 32px;
}

/*Button styles*/

.btn {
  margin-bottom: 16px;
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 100%;
  line-height: 1.625em;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-text);
  border: 0px #fff solid;
  border-radius: 1.8125em;
  height: 3.625em;
  padding: 0 40px;
}

.btn span {
  color: var(--clr-primary-accent);
  padding-left: 4px;
}

.btn--question {
  background-color: var(--clr-secondary);
}

footer {
  position: relative;
  z-index: 1;
}

footer img {
  position: absolute;
  height: auto;
  width: 100%;
  z-index: -1;
}
