*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 3px red solid; */
}

:root {
  --clr-primary: hsl(192, 37%, 48%);
  --clr-secondary: hsl(268, 34%, 53%);
  --clr-heading-text: hsl(240, 21%, 20%);
  --clr-paragraph-text: hsl(240, 10%, 57%);

  --clr-primary-accent: hsl(192, 90%, 77%);
  --clr-secondary-accent: hsl(268, 100%, 86%);
  --clr-neutral-text: hsl(0, 0%, 98%);

  --clr-btn-download-hover: hsla(192, 54%, 64%, 1);
  --clr-btn-question-hover: hsla(267, 54%, 71%, 1);

  --ff-primary: "Red Hat Display", sans-serif;

  /* responsive values */

  --font-h1-max-size: 3em;
  --font-p-max-width: 573px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-neutral-text);
}

/*TEXT*/

h1,
h2,
p {
  font-family: var(--ff-primary);
  text-align: center;
}

h1,
h2 {
  color: var(--clr-heading-text);
  font-weight: 900;
}

h1 {
  font-size: clamp(1.5em, 10.7vw, var(--font-h1-max-size));
  line-height: 1.1em;
}

p {
  color: var(--clr-paragraph-text);
  line-height: 1.625em;
  font-weight: 500;
}

header {
  margin: 48px 0 54px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  width: 100vw;
}

.landing-page__img-container {
  margin-bottom: clamp(48px, 9.4vw, 72px);
  position: relative;
  width: 100%;
  height: clamp(114px, 40.8vw, 311px);
}

.landing-page img {
  /* position: relative; */
  height: auto;
  width: clamp(140px, 53vw, 394px);
}

.landing-page img:first-of-type {
  position: absolute;
  top: 0;
  left: -20px;
}

.landing-page img:last-of-type {
  position: absolute;
  top: 0;
  right: -20px;
}

.landing-Page__title {
  margin: 0 24px 0 24px;
  width: clamp(327px, 87.2vw, 457px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-page h1 {
  margin-bottom: 24px;
  width: 10ch;
}

.landing-page p {
  margin-bottom: 32px;
}

/* button container */

.landing-page__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Button styles*/

.btn {
  font-family: var(--ff-primary);
  font-weight: 900;
  font-size: 100%;
  line-height: 1.625em;
  background-color: var(--clr-primary);
  color: var(--clr-neutral-text);
  border: 0px #fff solid;
  border-radius: 1.8125em;
  height: 3.625em;
  cursor: pointer;
}

.btn span {
  color: var(--clr-primary-accent);
  padding-left: 4px;
}

.btn--download-footer span {
  color: var(--clr-secondary-accent);
}

.btn--download-header,
.btn--download-footer {
  padding: 0 40px;
}

.btn--download-header {
  margin-bottom: 16px;
}

.btn--download-header:hover {
  background-color: var(--clr-btn-download-hover);
}

.btn--question {
  padding: 0 29px;
}

.btn--question,
.btn--download-footer {
  background-color: var(--clr-secondary);
}

.btn--question:hover,
.btn--download-footer:hover {
  background-color: var(--clr-btn-question-hover);
}

/* section spacer */

.section-transition::before {
  position: absolute;
  left: 50%;
  bottom: 100%;
  content: "";
  width: 2px;
  height: 84px;
  background-color: hsla(240, 10%, 57%, 0.25);
}

.section-transition {
  position: relative;
  width: 56px;
  height: 56px;
  margin: calc(84px + clamp(64px, 10.5vw, 110px)) 0 clamp(64px, 8.72vw, 72px) 0;
  padding: 14px 0;
  font-family: var(--ff-primary);
  color: hsla(240, 10%, 57%, 1);
  font-weight: 900;
  line-height: 1.625em;
  text-align: center;
  border: 1px hsla(240, 10%, 57%, 0.25) solid;
  border-radius: 50%;
}

/* section spacer- footer version */

.footer-transition {
  margin: 148px 0 -28px 0;
  z-index: 6;
  background-color: var(--clr-neutral-text);
}

/* main section */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 24px;
}

.img-container {
  /* TODO - breaks between 375px and 768px*/
  margin-bottom: 64px;
  width: clamp(327px, 89.7vw, 1110px);
  height: 311px;
  justify-content: space-between;
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  /* gap: 11px; */
}

.img-container img {
  width: clamp(151px, 21.4vw, 255px);
  height: auto;
  border-radius: 8px;
}

.product-section__slogan {
  margin-bottom: 24px;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--clr-primary);
}

.product-section h2 {
  min-width: 327px;
  max-width: 445px;
  margin-bottom: 32px;
  font-size: clamp(2em, 5.3vw, 2.5em);
  line-height: 1.125em;
}

.product-section__description {
  width: clamp(327px, 74.6vw, var(--font-p-max-width));
}
/* footer */

footer {
  position: relative;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 428px;
  width: 100%;
  background-color: var(--clr-primary);
  overflow: hidden;
}

footer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: 0.1;
}

footer p,
footer h2,
footer button {
  position: relative;
  /* z-index: 2; */
}

footer h2 {
  margin: 92px 0 clamp(24px, 4.2vw, 32px) 0;
  width: clamp(327px, 60vw, 457px);
  font-size: clamp(2em, 5.3vw, 2.5em);
  line-height: 1.125em;
}

footer h2,
footer p {
  color: var(--clr-neutral-text);
}

footer p {
  width: clamp(327px, 75vw, 573px);
  margin-bottom: clamp(32px, 5.2vw, 40px);
  font-size: 1.125em;
}

/* media queries */

/* tablet design */
@media only screen and (min-width: 600px) {
  .landing-page__btn-container {
    display: flex;
    flex-direction: row;
    align-items: unset;
    gap: 16px;
  }

  .img-container {
    height: unset;
    margin-bottom: 48px;
  }

  .product-section__slogan {
    margin-bottom: 16px;
  }

  .footer-transition {
    margin: 140px 0 -28px 0;
  }
}

/* desktop design */
@media only screen and (min-width: 1250px) {
  :root {
    --font-p-max-width: 540px;
  }
  .img-container {
    margin-bottom: 80px;
  }
}
